nav {
	border: 1px solid;
	text-align: center;
   }
   nav a {
	color: darkorange;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-shadow: 1px 1px darkgoldenrod;
   }
   
   div {
	border: 1px solid grey;
	border-radius: 5px;
   }
   div ~ img {
	float: left;
   }
   
   h4.ng-binding, p.ng-binding {
	text-align: center;
   }